<h1>Scrabble Word Score:</h1>

<form action="/score" method="post">
  <label for="wordInput">Enter Word</label>
  <input type="text" name="wordInput">
  <button type="submit" name="button">Check Score</button>
</form>
