@{
  Layout = "_Layout";
}
<body>
  <h1>Scrabble Word Score:</h1>

  <h2><em>Word:</em> <strong>@Model.GetWord()</strong></h2>

  @if(Model.GetScore() > 0)
  {
    <h2><em>Word Score:</em> <strong>@Model.GetScore()</strong></h2>
  }
  else
  {
    <h3><em><span id="error">Invalid Input: Please enter words with A-Z only.</span></em></h3>
  }
  <br>
  <a href="/">Try Another Word</a>
  </body>
